<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vueserver.mapper.TestMapper">
    <select id="getTest" parameterType="java.lang.String" resultType="com.vueserver.pojo.Test">
        select  username as test from user
    </select>
</mapper>